# Các thư viện tải về (Rất nặng, không nên đẩy lên Git)
node_modules/

# File chứa bí mật (Mật khẩu DB, Secret Key của Clerk)
# TUYỆT ĐỐI không được đẩy file này lên Git
.env

# Các file log khi chạy lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Thư mục build (nếu sau này bạn dùng TypeScript)
dist/
build/

# Các file rác của hệ điều hành
.DS_Store
Thumbs.db